body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* it's black because, my eyeeeees */

#initial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  color: aquamarine;
}

#typing {
  border-right: 2px solid aquamarine;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

span {
  font-size: 70px;
  color: palevioletred;
  padding: 10px;
}

#buttons {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#yes-btn,
#no-btn {
  color: white;
  padding: 15px;
  border: 0;
  border-radius: 9px;
  font-size: 50px;
}
#yes-btn {
  background-color: blueviolet;
}

#no-btn {
  background-color: red;
}
